* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.7;
  background: #f5f5f5;
  color: #333;
}

/* Header & Navigation */
header {
  background: #111;
  color: #fff;
  padding: 18px 60px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  color: #fff;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ff6b81;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: #ff6b81;
}

/* section */
section {
  scroll-margin-top: 90px;
}

/*  Hamburger Menu  */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
  padding: 6px;
}

.hamburger span {
  height: 3px;
  width: 28px;
  background: #fff;
  border-radius: 4px;
  transition: all 0.35s ease;
}

.hamburger:hover span {
  background: #ff6b81;
}

/* Active Hamburger */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Hero / About Bio  */
.section#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 120px 60px;
  background: #fff;
  gap: 40px;
}

.about-bio {
  max-width: 500px;
  text-align: left;
}

.about-bio h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.about-bio p {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.hero-image img {
  max-width: 275px;
  max-height: 275px;
  border-radius: 18px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
}

/* About Me Section */
.about {
  padding: 80px 50px;
  background-color: #111;
  color: #ccc;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.about h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 900px;
  margin: auto;
}

/* Services Section */
.services {
  padding: 100px 50px;
  background: #fff;
  color: #111;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services h2 {
  margin-bottom: 50px;
  color: #222;
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.service-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px 20px;
  border-radius: 15px;
  width: 280px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.service-card h3 {
  margin-bottom: 12px;
}

.service-card p {
  color: #555;
  line-height: 1.5;
}

/*  Projects Section */
.projects {
  padding: 25px;
}

.projects-container {
  padding: 100px 50px;
  background-color: #111;
  color: #ccc;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card {
  background: #fff;
  padding: 25px 20px;
  border-radius: 18px;
  width: 280px;
  text-align: center;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.project-card h3 {
  margin: 15px 0 10px 0;
  color: #222;
}

.project-card p {
  color: #555;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background: #ff6b81;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.project-card a:hover {
  background: #ff5670;
}

/*  Resume Section */
#resume {
  background: #fff;
  color: #111;
  padding: 100px 50px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#resume h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}


/* Buttons */
.btn,
button {
  background: #ff6b81;
  color: #fff;
  padding: 12px 30px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s ease;
}

.btn:hover,
button:hover {
  background: #ff5670;
}

/* CONTACT INFO & SOCIALS  */
#social-info {
  padding: 100px 50px;
  background-color: #222;
  color: #ccc;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

#social-info h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 30px;
}

.social-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.social-details p {
  color: #eee;
}

.social-details a {

  color: white;

  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-details a:hover {
  color: #ff5670;
  transform: translateY(-2px);
}

.social-details p strong {
  color: #ff5670 ;
}


/* Contact Form */
#contact {
  padding: 100px 50px;
  color: #111;
  background-color:white;
  text-align: center;
  min-height: 100vh;
}

#contact h2 {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 550px;
  margin: auto;
}

input,
textarea {
  outline: none;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  background: #fff;
}

input:focus,
textarea:focus {
  border-color: #ff6b81;
  box-shadow: 0 0 10px rgba(255, 107, 129, 0.3);
}

button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

/* Footer  */
footer {
  text-align: center;
  padding: 18px 0;
  background-color: #111;
  color: #fff;
}

/* responsive */
@media (max-width: 786px) {
  header {
    padding: 18px 0;
  }

  .section#about {
    flex-direction: column;
    text-align: center;
    padding: 90px 20px;
  }

  nav ul {
    flex-direction: column;
    background: #111;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    padding: 15px 0;
    text-align: left;
    margin: 0;
    z-index: 2;
  }

  nav ul.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  #about-1,
  #skills,
  #projects,
  #resume,
  #contact {
    scroll-margin-top: 90px;
  }

  .services {
    min-height: 200vh;
  }

  #contact-info {
    padding: 80px 20px;
  }
}

@media (max-width: 480px) {
  .services-container,
  .projects-cont {
    flex-direction: column;
    gap: 20px;
  }

  .service-card,
  .project-card {
    width: 100%;
  }

  #about-1,
  #skills,
  #projects,
  #resume,
  #contact {
    scroll-margin-top: 90px;
  }

  .services {
    min-height: 200vh;
  }

  #contact-info h2 {
    font-size: 2rem;
  }

  .contact-details {
    font-size: 1rem;
    gap: 10px;
  }
}
